.contact-us-container{
    max-width: 800px;
    margin: 0 auto ;
    padding: 40px;
    text-align: center;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgba(14, 0, 0, 0);

}
.contact-us-container h1{
    font-size: 43px;
    margin-bottom: 20px;
    color:rgb(31, 31, 66);

}

.contact-us-container p{
font-size: 18px;
margin-bottom: 40px;

}

.contact-us-container .form-group{
    margin-bottom: 20px;
    text-align: left;

}
.contact-form label{
    display: block;
     font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;

}

.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;


}
.contact-form textarea{
    resize: none;
}
 

.sbmt-btn{
    padding: 8px 25px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
     border-radius: 4px;
    cursor: pointer;
    border: none;
 }



.sbmt-btn:hover{
    background-color: #45a049;
}